<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon espace</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <h1>The Power Of Memory</h1>
                <ul>
                    <li><a href="index.html">ACCUEIL</a></li>
                    <li><a href="views/jeu.html">JEU</a></li>
                    <li><a href="views/classement.html">LES SCORES</a></li>
                    <li><a href="views/contact.html">NOUS CONTACTER</a></li>
                    <li><a href="views/profil.html">MON ESPACE</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <!-- /* CRÉATION BANNIÈRE */ -->
            <div class="title-banner">
                <div>MON ESPACE</div>
            </div>

            <div class="espace">
                <table class="tab-form">
                    <tr class="tr-espace">
                        <th class="th-espace"><a class="espace-form-text" href="./profil.html">Mes infos personnelles</a></th>
                    </tr>

                    <tr class="tr-espace">
                        <th class="th-espace"><a class="espace-form-text" href="./edit_email.html">Changer mon email</a></th>
                    </tr>
                    
                    <tr class="tr-espace">
                        <th class="th-espace"><a class="espace-form-text" href="./edit_mdp.html">Changer mon mot de passe</a></th>
                    </tr>
                </table>

                <!-- INFOS PERSO PAGE -->

                <div class="perso-info">
                    <div class="perso-box1">
                        <div class="perso-prenom">
                            <h5>Prénom</h5>
                            <p class="perso-prenom-case">First Name</p>
                        </div>

                        <div class="perso-name">
                            <h5>Nom</h5>
                            <p class="perso-name-case">Last Name</p>
                        </div>
                    </div>
                    <div class="perso-box2">
                        <div class="perso-email">
                            <h5>Adresse email</h5>
                            <p class="perso-email-case">user@memories.com</p>
                        </div>

                        <div class="perso-num">
                            <h5>Numéro</h5>
                            <p class="perso-num-case">06 05 04 03 02</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <!-- /* CRÉATION FOOTER */ -->
            <div class="ap5">
                <div class="ap1">
                    <div class="ap3">
                        <p class="title-foot">Informations</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><span>Tél :</span> 06 05 04 03 02</p>
                        <p><span>Email :</span> support@powerofmemory.com</p>
                        <p><span>Location :</span> Paris</a></p>
                    </div>
                    <div class="logo-sm">
                        <script src="https://kit.fontawesome.com/f09ae54942.js" crossorigin="anonymous"></script>
        
                        <a href="facebook.com"><div class="logo"><i class="fa-brands fa-facebook" style="color: #fafcff;"></i></div></a>
                        <a href="twitter.com"><div class="logo"><i class="fa-brands fa-x-twitter" style="color: #fafcff;"></i></div></a>
                        <a href="google.com"><div class="logo"><i class="fa-brands fa-google-plus" style="color: #fafcff;"></i></div></a>
                        <a href="pinterest.com"><div class="logo"><i class="fa-brands fa-pinterest" style="color: #fafcff;"></i></div></a>
                        <a href="instagram.com"><div class="logo"><i class="fa-brands fa-instagram" style="color: #fafcff;"></i></div></a>
                    </div>
                </div>
        
        
                <div class="ap2">
                    <div class="ap4">
                        <p class="title-foot">Power Of Memory</p>
                        <ul class="list-ap">
                            <li><a class="underline" href="../views/jeu.html">Jouer !</a></li>
                            <li><a class="underline" href="../views/classement.html">Les scores</a></li>
                            <li><a class="underline" href="../views/contact.html">Nous contacter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>