<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inscription</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body> 
        <!-- navbar -->
        <nav class="navbar">
            <h1>The Power Of Memory</h1>
            <ul>
                <li><a href="index.html">ACCUEIL</a></li>
                <li><a href="views/jeu.html">JEU</a></li>
                <li><a href="views/classement.html">LES SCORES</a></li>
                <li><a href="views/contact.html">NOUS CONTACTER</a></li>
                <li><a href="views/profile.html">MON ESPACE</a></li>
            </ul>
        </nav>
        
        <main>
            <div class="banner">
                <!--Partie bannière-->
                <div>Inscription</div>
            </div>

            <div class="identifiants">
                <!--Cors de texte de la partie des identifiants-->
                <form action="" method="post">
                    <input class="case" type="email" id="email" name="email" placeholder="Email"><br>
                    <input class="case" type="text" id="name" name="name" placeholder="Pseudo"><br>
                    <input class="case" type="password" id="password" name="password" placeholder="Mot de passe"><br>
                    <input class="case" type="password" id="password" name="password" placeholder="Confirmer le mot de passe"><br>
                    <input class="submit" type="submit" value="Inscription">
                </form>
            </div>
            <div class="lien-connexion">
                <p>Déjà un compte ?<a class="lien" href="login.html">Créer un compte</a></p>
            </div>
        </main>

        <footer>
            <!-- CRÉATION DU FOOTER (CONTACT) -->
            <div class="ap5">
                <div class="ap1">
                    <div class="ap3">
                        <p class="title-foot">Informations</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><span>Tél :</span> 06 05 04 03 02</p>
                        <p><span>Email :</span> support@powerofmemory.com</p>
                        <p><span>Location :</span> Paris</a></p>
                    </div>
                    <div class="logo-sm">
                        <script src="https://kit.fontawesome.com/f09ae54942.js" crossorigin="anonymous"></script>
        
                        <a href="facebook.com"><div class="logo"><i class="fa-brands fa-facebook" style="color: #fafcff;"></i></div></a>
                        <a href="twitter.com"><div class="logo"><i class="fa-brands fa-x-twitter" style="color: #fafcff;"></i></div></a>
                        <a href="google.com"><div class="logo"><i class="fa-brands fa-google-plus" style="color: #fafcff;"></i></div></a>
                        <a href="pinterest.com"><div class="logo"><i class="fa-brands fa-pinterest" style="color: #fafcff;"></i></div></a>
                        <a href="instagram.com"><div class="logo"><i class="fa-brands fa-instagram" style="color: #fafcff;"></i></div></a>
                    </div>
                </div>
        
        
                <div class="ap2">
                    <div class="ap4">
                        <p class="title-foot">Power Of Memory</p>
                        <ul class="list-ap">
                            <li><a class="underline" href="../views/jeu.html">Jouer !</a></li>
                            <li><a class="underline" href="../views/classement.html">Les scores</a></li>
                            <li><a class="underline" href="../views/contact.html">Nous contacter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>