<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Score</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar">
            <h1>The Power Of Memory</h1>
            <ul>
                <li><a href="index.html">ACCUEIL</a></li>
                <li><a href="views/jeu.html">JEU</a></li>
                <li><a href="views/classement.html">LES SCORES</a></li>
                <li><a href="views/contact.html">NOUS CONTACTER</a></li>
                <li><a href="views/profile.html">MON ESPACE</a></li>
            </ul>
        </nav>
        
        <main>
            <div class="banner">
            <!--Partie bannière-->
                <div>SCORE</div>
            </div>
            <!--Main page score-->
            <div class="tableau">
                <table class="score_table" >
                    <tr>
                        <th style="width:30%">Pseudo</th>
                        <th style="width:20%">Niveau de difficulté</th>
                        <th>Temps</th>
                        <th>Date et heure</th>
                    </tr>
                    <tr>
                        <td>Joueur 1 <img src="../assets/img/1erM.png" width="30" height="30" /></td>
                        <td>Facile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 2 <img src="../assets/img/2eM.png" width="30" height="30" /></td>
                        <td>Moyen</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 3 <img src="../assets/img/3eM.png" width="30" height="30" /></td>
                        <td>Difficile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 4</td>
                        <td>Facile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 5</td>
                        <td>Moyen</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>

                        <td>Joueur 6</td>
                        <td>Difficile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 7</td>
                        <td>Facile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 8</td>
                        <td>Moyen</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 9</td>
                        <td>Difficile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                    <tr>
                        <td>Joueur 10</td>
                        <td>Facile</td>
                        <td>00:00:00s</td>
                        <td>JJ/MM/AAAA 00:00</td>
                    </tr>
                </table>
            </div>
        </main>

        <footer>
            <!-- CRÉATION DU FOOTER (CONTACT) -->
        <div class="ap5">
            <div>
                <div>
                    <h2 class="title-foot">Information</h2>
                    
                    <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque assumenda quae error dolor.</p>
                    <p class="info"><span>Tél :</span> 06 05 04 03 02</p>
                    <p class="info"><span>Email :</span> support@powerofmemory.com</p>
                    <a class="location" href="https://www.google.com/maps/place/12+Av.+du+Maine,+75015+Paris/@48.8440234,2.3174032,17z/data=!3m1!4b1!4m6!3m5!1s0x47e6703320cc5fd9:0x762d387157d77e74!8m2!3d48.8440199!4d2.3199781!16s%2Fg%2F11bw3x903j?entry=ttu"><span>Location :</span> 12 Avenue du Maine, PARIS 75015</a>
                </div>
                
                <div class="logo-sm">
                    <a href="facebook.com"><div class="logo"><i class="fa-brands fa-square-facebook" style="color: #fff;"></i></div></a>
                    <a href="twitter.com"><div class="logo"><i class="fa-brands fa-square-x-twitter" style="color: #fff;"></i></div></a>
                    <a href="google.com"><div class="logo"><i class="fa-brands fa-square-google-plus" style="color: #fff;"></i></div></a>
                    <a href="pinterest.com"><div class="logo"><i class="fa-brands fa-square-pinterest" style="color: #fff;"></i></div></a>
                    <a href="instagram.com"><div class="logo"><i class="fa-brands fa-square-instagram" style="color: #fff;"></i></div></a>
                    <script src="https://kit.fontawesome.com/f09ae54942.js" crossorigin="anonymous"></script>
                </div>
            </div>

            

            <div class="ap2">
                <div>
                    <h2 class="title-foot">Power Of Memory</h2>
                    
                    <ul class="list-ap">
                        <li><a class="underline" href="../views/jeu.html">Jouer !</a></li>
                        <li><a class="underline" href="../views/classement.html">Les scores</a></li>
                        <li><a class="underline" href="../views/contact.html">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </footer>
    </body>
</html>